body {
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: #233fca;
}

button:hover{
  background-color: #8644eb;
  transition: 0.2s ease-in-out;
}

#flash-messages {
  position: fixed; /* Para que a posição seja fixa na tela */
  top: 20px; /* Distância do topo da tela */
  right: 20px; /* Distância do lado direito */
  z-index: 1100; /* Deve ser maior que o modal (1000) */
  width: auto; /* Pode ajustar conforme necessário */
}

#flash-messages ul {
  list-style: none;
  padding: 0;
}

#flash-messages li {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.success {
  background-color: #d4edda; /* Verde claro */
  color: #155724; /* Verde escuro */
}

.error {
  background-color: #f8d7da; /* Vermelho claro */
  color: #721c24; /* Vermelho escuro */
}


/* Sidebar styles */
.sidebar {
  height: 100vh;
  width: 60px;
  background-color: #233fca;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.sidebar.expanded {
  width: 200px;
}

.sidebar .toggle-btn {
  font-size: 24px;
  cursor: pointer;
  margin: 15px 0;
}

.sidebar.expanded .toggle-btn{
  display: flex;
  align-self: flex-start;
}

.sidebar img.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px 0;
  transition: width 0.3s, height 0.3s;
}

.sidebar.expanded img.user-image {
  width: 80px;
  height: 80px;
}

.sidebar .user-name {
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s;
  text-align: center;
}

.sidebar.expanded .user-name {
  opacity: 1;
  font-weight: bold;
  font-size: 20px;
}

.sidebar .menu-links{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
.sidebar .menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sidebar .menu-item:hover {
  background-color: #555;
  gap: 20px;
}
.sidebar.expanded .menu-item{
  justify-content: initial;
  gap: 20px;
}

.sidebar i {
  font-size: 30px;
  width: 40px;
  text-align: center;
}

.sidebar .menu-text {
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.sidebar.expanded .menu-text {
  display: flex;
  opacity: 1;
}

.sidebar .logout{
  display: flex;
  position: absolute;
  bottom: 20px;
  padding: 3px;
  font-weight: bolder;
  text-decoration: none;
  border-radius: 20px;
}

.logout-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.sidebar.sidebar.expanded .logout{
  padding: 5px 10px;
  border-radius: 20px;
}

.sidebar .logout-item:hover{
  color: aquamarine;
  transition: 0.2s ease-in-out;
  font-size: 15px;
}

/* Main content styles */
main {
  padding: 20px;
  transition: margin-left 0.3s;
}

.sidebar.expanded + main {
  margin-left: 200px;
}

/*CRUD CONTAINER*/

.crud-container{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  border: 1px solid #555;
}

.crud-header{
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 12px;
}

.crud-header span {
  font-weight: 900;
  font-size: 25px;
  word-break: break-all;
  color: #1831ab;
}

#new {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #233fca;
}

.div-table{
  padding: 10px;
  width: auto; 
  height:inherit; 
  overflow:auto;
}

table {
  width: 100%;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse: collapse;
}


thead {
  background-color: #233fca;
  color: #fff;
}

tr {
  border-bottom: 1px solid rgb(238, 235, 235)!important;
}

tbody tr td {
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  padding: 6px;
  max-width: 70px;
}

thead tr th {
  padding: 5px;
  text-align: center;
  margin-bottom: 50px;
  border: 1px solid #fff;
}

tbody tr {
  margin-bottom: 50px;
}

thead tr th.action {
  width: 100px!important;
  text-align: center;
}

tbody tr td.action {
  text-align: center;
}

.btn-edit, .btn-delete {
  font-size: 25px;
  outline: none;
  background: none;
  text-align: center;
}

.btn-edit{
  color: #233fca;
}

.btn-delete{
  color: #e74c3c;
}

.btn-edit:hover,
.btn-delete:hover{
  background: none;
}

.btn-edit:hover{
  color: #8644eb;
}

.btn-delete:hover{
  color: #ff1900;
}

/*Login Styles*/
.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.login-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #415ce3;
  width: 400px;
  height: 300px;
  gap: 20px;
}

.login-container button{
  margin-top: 10px;
  padding: 15px;
  border-radius: 20px;
  width: 100px;
}

/*Modal*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Fundo transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease;
}

.name, .input-field{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px;
  width: 100%;
}

.input-field {
  position: relative;
  padding: 15px 0 0;
}

  /* Placeholder invisível */
  .form-input::placeholder {
    color: transparent;
    background-color: none;
  }
  
  /* Rótulo do campo */
  .form-label {
    position: absolute;
    top: -1;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #504e4ebc;
    pointer-events: none;
  }

.form-input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #504e4ebc;
  outline: 0;
  font-size: 15px;
  color: #233fca;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

  /* Campo de entrada focado */
  .form-input:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, #1831ab, #233fca);
    border-image-slice: 1;
    background-color: transparent;
  }
  
  /* Rótulo flutuante ao focar */
  .form-input:focus ~ .form-label,
  .form-input.filled ~ .form-label,
  .form-input:not(:placeholder-shown) ~ .form-label {
    top: 2px;
    font-size: 1rem;
    color: #233fca;
    font-weight: bolder;
    transition: ease-in 0.1s;
  }

.modal button {
margin: 10px auto;
outline: none;
padding: 5px 10px; 
border: none;
background-color: rgb(57, 57, 226);
color: white;
cursor: pointer;
}

.save-btn{
  margin-top: 10px;
  border-radius: 10px;
  padding: 20px;
}

.save-btn:hover{
  background-color: #415ce3;
  transition: 0.2s ease-in-out;
}

.active {
display: flex;
}

.active .modal {
animation: modal .4s;
}

@keyframes modal {
from {
  opacity: 0;
  transform: translate3d(0, -60px, 0);
}
to {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
}

/* Animação de entrada */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.9);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

/* Estilo para o botão de fechar (X) */
.close-btn {
  border-radius: 100%;
  font-size: 1.5rem;
  font-weight: bold;
}

.close-btn:hover {
  color: #e74c3c;
}