<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
    <title>{% block title %}Home{% endblock %}</title>
</head>

<body>{% block body %}{% endblock %}
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>