{% extends "base.html" %}

{% block title %}CRUD Home{% endblock %}

{% block body %}
<div class="container">
    <div class="header">
      <span>Cadastro de Funcionários</span>
      <button onclick="openModal()" id="new">Incluir</i></button>
    </div>

    <div class="divTable">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th> 
            <th>Last Name</th> 
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            <th class="action">Edit</th> 
            <th class="action">Delete</th> 
          </tr>
        </thead>
        <tbody>
          <!-- Rows for users will go here -->
        </tbody>
      </table>
    </div>

    <div class="modal-container" style="display:none;">
      <div class="modal">
        <form>
          <div class="name">
            <div class="input-field">
              <input type="text" name="firstName" id="m-firstName" placeholder="Enter first name" required>
              <label for="m-firstName">First Name</label>
            </div>
            <div class="input-field">
              <input type="text" name="lastName" id="m-lastName" placeholder="Enter last name" required>
              <label for="m-lastName">Last Name</label>
            </div>
          </div>
          <div class="input-field">
            <input type="text" id="m-username" name="username" placeholder="Enter a username" required>
            <label for="m-username">Username</label>
          </div>
          <div class="input-field">
            <input type="email" id="m-email" name="email" placeholder="Enter a valid email" required>
            <label for="m-email">Email Address</label>
          </div>
          <div class="input-field">
            <input type="password" id="m-password" name="password" placeholder="Enter password" required>
            <label for="m-password">Password</label>
          </div>
          <button id="btnSave">Save</button> 
        </form>
      </div>
    </div>
</div>
{% endblock %}
