{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<div class="sign-up-container">
  <h1>Sign Up</h1>
  <form action="/sign-up" method="POST">
    <div class="name">
      <div class="input-field">
        <input
          type="text"
          name="firstName"
          id="firstName"
          class="form-input"
          placeholder="Enter first name"
          required
        />
        <label for="firstName" class="form-label">First Name</label>
      </div>

      <div class="input-field">

        <input
          type="text"
          name="lastName"
          id="lastName"
          class="form-input"
          placeholder="Enter last name"
          required
        />
        <label for="lastName" class="form-label">Last Name</label>
      </div>
    </div>

    <div class="input-field">
      <input
        type="text"
        id="username"
        name="username"
        class="form-input"
        placeholder="Enter a username"
        required
      />
      <label for="username" class="form-label">Username</label>
    </div>
    <div class="input-field">
      <input
        type="email"
        id="email"
        name="email"
        class="form-input"
        placeholder="Enter a valid email"
        required
      />
      <label for="email" class="form-label">Email Adress</label>
    </div>

    <div class="password">
      <div class="input-field">
        <input
          type="password"
          id="password"
          name="password"
          class="form-input"
          placeholder="Enter password"
          required
        />
        <label for="password" class="form-label">Password</label>
      </div>
      <div class="input-field">
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Confirm password"
          class="form-input"
          required
        />
        <label for="confirm_password" class="form-label">Confirm Password</label>
      </div>
    </div>

    <button type="submit">Sign Up</button>
    <p>Already have an account? <a href="/login">Login here</a>.</p>
  </form>
</div>
{% endblock %}
